@font-face {
  font-family: "Inter";
  src: url("../fonts/inter.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
