# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://lobby:lobby@postgres:5432/lobby?schema=public"
FRONTEND_URL=http://localhost:8080
RABBITMQ_URL=amqp://lobby:lobby@rabbitmq:5672

JWT_SECRET=

MAIL_TRANSPORT=console
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=your-user
SMTP_PASSWORD=your-password

MAIL_FROM="Lobby <noreply@lobby.app>"

